<!DOCTYPE html>
<html>
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
  </style>
</head>
  <body>
    <div id="wrap" data-scroll-index="0">

      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Bootstrap</a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#templates">Templates</a></li>
              <!-- <li><a href="#">Templates</a></li> -->
              <!-- <li><a href="#">Contact</a></li> -->
            </ul>
          </div>
        </div>
      </nav>



      <!-- Main Content -->
      <div class="main">
        <div class="page-header" data-scroll-index="1">
          <div class="container">
            <a name="templates"></a><h1>Templates <small>Live Examples</small></h1>
            <ul>
              <li><a href="template-company.html" target="_blank">Company</a></li>
              <li><a href="template-portfolio.html" target="_blank">Portfolio</a></li>
              <li><a href="template-analytics.html" target="_blank">Analytics</a></li>
              <li><a href="template-blog.html" target="_blank">Blog</a></li>
              <li><a href="template-webpage.html" target="_blank">Webpage</a></li>
              <li><a href="template-band.html" target="_blank">Band</a></li>
              <li><a href="template-marketing.html">Marketing</a></li>
              <li><a href="template-marketing2.html" target="_blank">Marketing 2</a></li>
              <li><a href="template-onlinestore.html" target="_blank">Online Store</a></li>
            </ul>
          </div>
        </div>
        <div class="section one" data-scroll-index="2">
          <!-- <div class="container">
            <h2>Hello</h2>
            <p>
              From the other side
            </p>
          </div> -->
        </div>
        <div class="section two" data-scroll-index="3">
          <!-- <div class="container">
            <h2>Hi</h2>
            <p>
              ..and this side also.
            </p>
          </div> -->
        </div>
      </div>

    <!-- Footer -->
    <footer id="footer" class="footer">
      <div class="container">
        Footer elements go here
      </div>
    </footer>
    </div>
  </body>
</html>
