html {
  min-height: 100%;
  position: relative; }
  html body {
    margin-bottom: 60px; }

.navbar a {
  cursor: pointer; }

.main {
  margin-top: 60px; }
  .main .section {
    min-height: 400px; }
    .main .section.one {
      background-color: #CCC; }
    .main .section.two {
      background-color: #FFF; }

#footer {
  position: absolute;
  bottom: 0;
  height: 60px;
  width: 100%;
  background-color: #f5f5f5; }
